body {
    padding:0;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    color: #373b3c;
    background-color: #faf5f2;
}

header {
    background-color: white;
}

h1 {
    padding: 20px 0;
    margin: 0 0 20px;
    font-size: 28px;
    color: #000;
    text-align: center;

}

.container {
    width: 1024px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
}

a {
    color: #555;
}

#main-bio, 
#contact-info, 
#bio-image {
    float: left;
}

#mainbio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: auto;
}