:root {
    --background-color: #faf5f2;
    --text-color-soft: #373b3c;
    --text-color-hard: #555;
    --accent-color: #fd9d75;
    --secondary-color: #494f4a;
    --another-color: #1c1b1b;

    --small-font: 14px;
    --medium-font:24px;
    --large-font:35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
}

body {
    font-size: 24px;
    color: var(--text-color-soft);
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

body a {
    color: var(--text-color-hard);
    text-decoration: none;
}
body a:hover {
    text-decoration: underline var(--accent-color) 3px;
}

body ul {
    list-style: none;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: var(--large-font);
    color: var(--text-color-hard);
    font-weight: lighter;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
}

.section-title h2 {
    font-size: var(--large-font);
    font-weight: lighter;
}

h3 {
    font-size: var(--medium-font);
    font-weight: lighter;
}

.about {
display: flex;
align-items: center;
}

.about-image {
    flex: 1 50%;
}

.about-image img {
    flex: 100%;
    width: 100%;
}

.title-container {
    flex: 1 50%;
    margin: 50px;
}

.title-container p {
    padding: 20px 0;
}

p {
    font-size: var(--small-font);

}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
}

.projects-50-50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1 50%;
}

.featured-project{
    align-self: center;
    padding: 10px;
}

.projects-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project {
    position: relative;
    padding: 5vw;
}

.project img {
    width: 100%;
    filter: invert(29%) sepia(6%) saturate(532%) hue-rotate(78deg) brightness(94%) contrast(86%);
    opacity: 1;
    transition: .5s ease;
}

.project h3 {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover h3 {
    opacity: 1;
    font-size: 36px;
}

.contact {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.contact-links {
    width: 35%;
    align-self: center;
}

.contact .title-container {
    width: 35%;
}

.contact span p {
    padding: 0;
}

footer {
    background: var(--secondary-color);
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    padding: 10px 0;
    width: 30;
}
    

footer img {
    width: 100%;
}

@media screen and (max-width: 375px) {

.about {
    flex-direction: column-reverse;
}

.project img {
    opacity: 0.3;
}

.contact {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
width: 100%;
}

.contact .title-container {
    width: 100%;
    margin: 50px;
}

.contact-links {
    margin: 5vw;
    width: 100%;
}

.contact-links h3 {
    display: inline;
    padding: 0 5px;
}
}

@media screen and (max-width: 768px) {

.projects-container {
    flex-direction: column;
}

.projects-50-50 {
    flex-direction: row;
    width: 100%;
}

.project img {
    opacity: 0.3;
}

.projects-grid {
    flex-wrap: wrap;
    width: 100%;
}

}